.cadre {
  margin: 40px auto;
  width: 500px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerFunction {
  display: flex;
}
.groupBtn {
  display: flex;
  flex-direction: column;
}
h1{
  text-align: center;
  margin: 0 auto;
}

.modal {
  background-color: #fff;
  padding: 2em 3em;
  text-align: center;
  border-radius: .5em;
  display: none;
  
}
.modal .is-active { display: block; }