@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');
.cadre {
  margin: auto;
  width: 500px;
  height: 250px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .05);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transform: rotate(-1deg);
}
/* .blurred{
  margin: auto;
  width: 500px;
  height: 250px;

  background: rgba(0, 0, 0, .05);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transform: rotate(-1deg);
} */
.innerFunction {
  display: flex;
}
.groupBtn {
  display: flex;
  flex-direction: column;
  z-index: 5000;
  justify-content: space-around;
}
.groupBtn button{
  cursor: pointer;
  background: none;
  border: 1px dotted #333;
  margin-left: 2rem;
}
.timer{
  font-family: 'Gochi Hand', cursive;
  font-size: 4rem;
  color: #333
}

.grid{
  display: flex;
  justify-content: center;
}
h1{
  color: #333;
  font-size: 5rem;
  font-weight: normal;
  margin: 0;
  font-family: 'Bungee Shade', cursive;
  position: absolute;
  top: -5rem;
}
#pomo{
  transform: skew(43deg, -26deg) translate(-92px, 90px);
  text-shadow: 0 0 2px #fff,
             -1px -1px 0 #DDC2FF,
             -2px -2px 1px #8F5ECC,
             -2px -2px 2px hsl(80, 10%, 15%);
}
#doro{
  right: 30rem;
  transform: skew(41deg, -27deg) translate(-211px, 166px) rotate3d(17, -14, 46, 82deg);
  text-shadow: 0 0 2px #fff,
  -1px -1px 0 #DDC2FF,
  -2px -2px 1px #8F5ECC,
  -2px -2px 2px hsl(80, 10%, 15%);
}

.container{
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}